*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAECED;
    padding: 14px 40px;
    height: 11%;
}
/* ログインカード部分 */
.container {
    position: relative;
    z-index: 1;
    margin-top: 3%;
}
.card-header {
    text-align: center;
}
.card-body {
    padding: 0;
    margin-top: 2%;
}
/* ログインボタン下部 */
.mb-0 {
    margin-bottom: 2% !important;
}
.mb-3 {
    gap: 3%;
}
