/* サイドバー全体のスタイル */
.sidebar {
    position: fixed;
    left: 70px;
    width: 250px;
    height: auto;
    overflow-y: auto;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



/* サイドバー(トプ画、フォロー・フォロワー) */
.sidebar-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}
.top-image {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    border-radius: 50%;
}
.user-name {
    font-size: 19px;
    margin: 0;
}
.sidebar-header {
    display: flex;
    margin-bottom: 20px;
}
.follower-info, .following-info {
    margin-left: 3px;
    margin-right: 32px;
}



/* サイドバー(メインコンテンツ) */
.sidebar-menu {
    list-style: none;
    margin-left: 5px;
    padding: 0;
}
.sidebar-menu li {
    margin-bottom: 10px;
    margin-left: 3px;
}
.sidebar-menu li a {
    text-decoration: none;
    height: 24px;
    color: #333;
    display: flex;
    align-items: center;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar-menu li a i {
    margin-left: 8px;
    margin-right: 10px;
}
.sidebar-menu li a:hover {
    height: 45px;
    font-weight: bolder;
    transform: translateY(-5px);
    opacity: 1;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
